<h1>Add Car</h1>
<form action="/cars" method="POST">
    <label for="">Name:</label>
    <input type="text" name="name">

    <label for="">Image URL:</label>
    <input type="text" name="image_url">

    <button>Add car</button>
</form>